/*   #1b75bb  синий оттенок */
/*   #25a9e0  голубой оттенок */
/*   #f8f9fa  light*/
/* MF - mobile-font class*/
/* MFheader - mobile-font заголовок*/
@media (max-width: 576px) {
    .project{
        display: none;
    }
}
@media (max-width: 768px) {
    .navbar-brand span {
        display: none;
    }
    .carousel{
        display: none;
    }
    .mobile-pseudo-carousel{
        display: block;
    }
    .MF{
        font-size: 1em;
    }
    .MFheader{
        font-size: 1.5em;
        font-weight: 800;
    }
}

@media (min-width: 768px) {
    .mobile-pseudo-carousel{
        display: none;
    }
    
}


* {
    font-family: 'Montserrat', sans-serif;
}

.btn-primary {
    background-color: #1b75bb;
}

.btn-outline-primary {
    border: 2px solid #1b75bb;
    color: #1b75bb;
}

.btn-outline-primary:hover {
    color: white;
    background-color: #1b75bb;
    border: 2px solid #1b75bb;
}

.logoTextGorod {
    font-weight: 700;
    color: #25a9e0;
    font-size: 1.3em;
}

.logoTextDomov {
    font-weight: 700;
    color: #1b75bb;
    font-size: 1.3em;
}

.nav-link {
    font-weight: 600;

}

.anim-link a:hover {
    color: #1b75bb;
}

.logo {
    transition: 0.3s linear;
}

.logo:hover {
    transform: scale(1.1);
}

.welcomeGradient {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(assets/images/white-space.jpg);
    background-attachment: scroll;
    background-size: cover;
}
.gradient{
filter: brightness(40%);
}

.workBg {
    background:linear-gradient(90deg, rgba(248,249,250,0) 43%, rgba(248,249,250,1) 94%) ,url(assets/images/white-space-2.jpg);
    background-size:cover;
    background-position: center;
}
.workBgLeft{
    background: linear-gradient(90deg, rgba(248,249,250,1) 10%, rgba(255,255,255,0) 90%), url(assets/images/white-space-2.jpg);
    background-size:cover;
    background-position: center;
}
.numberAchiv{
    font-weight: 800;
    color: #25a9e0;
}

.mobile-pseudo-carousel{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(assets/images/white-space.jpg);
}

.logoTextGorodFooter{
    font-weight: 700;
    color: #25a9e0;
    font-size: 1.3em;
}
.logoTextDomovFooter{
    font-weight: 700;
    color: #1b75bb;
    font-size: 1.3em;
}
footer a{
    text-decoration: none;
}





